<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda de {{ product }} foi registrada para você.</p>
<p>Confira os detalhes do destinatário abaixo:</p>
<ul style="padding-top: 0; margin-top: 0; font-size: 13px;">
    <li>
        <strong>Cliente: </strong> {{ name }}
    </li>
    <li>
        <strong>Rua: </strong> {{ street }}
    </li>
    <li>
        <strong>Número: </strong> {{ number }}
    </li>
    <li>
        <strong>Complemento: </strong> {{ complement }}
    </li>
    <li>
        <strong>Estado: </strong> {{ state }}
    </li>
    <li>
        <strong>Cidade: </strong> {{ city }}
    </li>
    <li>
        <strong>CEP: </strong> {{ zipcode }}
    </li>
</ul>
<p>
    <small>
        A encomenda já está disponível para retirada!
    </small>
</p>
